@import "tailwindcss";

/* breakpoint */
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-lg: 1440px;
}

@custom-variant sm (@media (min-width: theme(--breakpoint-sm)));
@custom-variant lg (@media (min-width: theme(--breakpoint-lg)));

/* color */
@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-yellow: hsl(47, 88%, 63%);
  
  --color-gray-*: initial;
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
}

/* spacing */
@theme {
  --spacing-*: initial;
  --spacing-0: 0;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-300: 1.5rem;
}

@utility typo-1 {
  font-family: var(--font-figtree);
  font-weight: var(--font-weight-extrabold);
  font-size: clamp(1.25rem, 1.162rem + 0.38vw, 1.5rem); /* min:20px max:24px */
  line-height: 150%;
  letter-spacing: 0;
}

@utility typo-2 {
  font-family: var(--font-figtree);
  font-weight: var(--font-weight-medium);
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem); /* min:14px max:16px */
  line-height: 150%;
  letter-spacing: 0;
}

@utility typo-3 {
  font-family: var(--font-figtree);
  font-weight: var(--font-weight-medium);
  font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem); /* min:12px max:14px */
  line-height: 150%;
  letter-spacing: 0;
}

@utility typo-4 {
  font-family: var(--font-figtree);
  font-weight: var(--font-weight-extrabold);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  @apply bg-yellow;
  font-family: var(--font-figtree) Arial, Helvetica, sans-serif;
}
